<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">About Us</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
					
					<div class="about">
					
						<div class="row"> 
							<div class="col-md-12">
								<div class="about-logo">
									<h3>About DUIAS & DSIMC <span class="color"></span></h3>
									<p align='justify'>Dolat-Usha Institute of Applied Sciences And Dhiru-Sarla Institute of Management & Commerce, is an esteemed academic institution established in the green jewel of South Gujarat, the city of Valsad. Before the onset of the millennium year, when the academic scenario was changing at a galloping pace, an urge was felt to introduce graduation courses in the field of Science which could match the needs of modern education.
                                    </p>
                                    <br/>
                                    <p align='justify'>In 1999, by initiating three undergraduate courses [B.Sc.-Microbiology, B.Sc.-Computer Science, B.C.A] and in 2001 one Post-Graduate course P.G.D.M.L.T., the seeds to set up an educational institution with academic excellence were sown and thus began the journey through highest standards of quality learning and resourceful infrastructure.</p>
								</div>
								
							</div>
						</div>
						
						<hr>
						<br>
						
						<div class="row">
							
							<div class="col-md-6">
								<div class="block-heading-two">
									<h3><span>OUR MISSION:</span></h3>
									<p>THE MISSION OF THE DOLAT-USHA INSTITUTE OF APPLIED SCIENCES AND DHIRU-SARLA INSTITUTE OF MANAGEMENT & COMMERCE IS –</p>
								</div>		
								<!-- Accordion starts -->
								<div class="panel-group" id="accordion-alt3">
								 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
								  <div class="panel">	
									<!-- Panel heading -->
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
											<i class="fa fa-angle-right"></i> TO MAINTAIN THE HIGHEST STANDARDS OF EXCELLENCE IN HIGHER EDUCATION, FOSTER INTELLECTUALS AND PREPARE STUDENTS TO COMPETE IN A KNOWLEDGE BASED SOCIETY AND CONTRIBUTE TO SOCIAL AND ECONOMIC DEVELOPMENT OF LOCAL COMMUNITY AND NATION AT LARGE.
										  </a>
										</h4>
									 </div>
									 <div id="collapseOne-alt3" class="panel-collapse collapse">
										<!-- Panel body -->
										<div class="panel-body">
										  
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
											<i class="fa fa-angle-right"></i> TO PROVIDE DIVERSE LEARNING ENVIRONMENT THAT PREPARES STUDENTS TO BE LEADERS AND DECISION MAKERS, PROMOTE THE VALUES OF DEMOCRACY, PATRIOTISM AND SENSE OF CIVIC RESPONSIBILITIES IN STUDENTS THAT WILL MAKE THEM TRUE AND HONEST CITIZENS OF INDIA.
										  </a>
										</h4>
									 </div>
									 <div id="collapseTwo-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										 
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i> TO INCULCATE IN OUR STUDENTS THE BASIC VALUE THAT ” KNOWLEDGE GOVERNS IGNORANCE“.
										  </a>
										</h4>
									 </div>
									 <div id="collapseThree-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										
										</div>
									 </div>
								  </div>
								
								</div>
								<!-- Accordion ends -->
								
							</div>
							
						<div class="col-md-6">
								<div class="block-heading-two">
									<h3><span>OUR VISION:</span></h3>
									<p>THE MISSION OF THE DOLAT-USHA INSTITUTE OF APPLIED SCIENCES AND DHIRU-SARLA INSTITUTE OF MANAGEMENT & COMMERCE IS –</p>
								</div>		
								<!-- Accordion starts -->
								<div class="panel-group" id="accordion-alt3">
								 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
								  <div class="panel">	
									<!-- Panel heading -->
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
											<i class="fa fa-angle-right"></i> PROVIDE EQUAL OPPORTUNITIES OF HIGHER EDUCATION IN SCIENCE, COMMERCE & MANAGEMENT FACULTIES TO THE STUDENTS OF LOCAL, REMOTE AND SPARSELY LOCATED AREAS WITHOUT ANY DISTINCTION OF CAST, CREED, RELIGION, COMMUNITY OR CLASS.
										  </a>
										</h4>
									 </div>
									 <div id="collapseOne-alt3" class="panel-collapse collapse">
										<!-- Panel body -->
										<div class="panel-body">
										  
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
											<i class="fa fa-angle-right"></i> REACH EVERY SECTION OF THE SOCIETY AND DEVELOP A COMMUNITY OF SCHOLARS WITH TALENT AND EXPERTISE THAT WILL ENABLE THEM TO FACE THE CHALLENGES OF THE MODERN WORLD AND MAKE THEM ECONOMICALLY SELF RELIANT.
										  </a>
										</h4>
									 </div>
									 <div id="collapseTwo-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										 
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i> TURN INFORMATION AND KNOWLEDGE INTO WEALTH AND WISDOM.
										  </a>
										</h4>
									 </div>
									 <div id="collapseThree-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										
										</div>
									 </div>
								  </div>
								
								</div>
								<!-- Accordion ends -->
								
							</div>
							
						</div>
						
						 						
						 
						<br>
						<!-- Our Team starts -->
				
						
					
					
						<!-- Our team ends -->
					  
						
					</div>
									
				</div>
	</section>
