<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Contact Us</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	
	<div class="container">
	<div class="row">
								<div class="col-md-6">
									
									
									<div class="contact-form">
										<h2>Address</h2>	
										<h4>DOLAT-USHA INSTITUTE OF APPLIED SCIENCES AND
DHIRU-SARLA INSTITUTE OF MANAGEMENT & COMMERCE</h4>
										<h5>Dr. Moghabhai Vidhya Sankul,<br/> Shree Moraji Nagar,<br/> College Campus,<br/> Tithal Road,<br/> Valsad.396001.</h5>
										
										<h4>CONTACT NO : (02632)244428.</h4>
										<h4>Email : duias_valsad@yahoo.co.in</h4>
									</div>
								</div>
								<div class="col-md-6">
									<img src="/img/cnt1.png">
								</div>
							</div>
	</div>
 
	</section>