<!-- end header -->
<section id="banner">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="/img/banner6.webp" alt="" />
                <div class="flex-caption container">
                   
                </div>
              </li>
              <li>
                <img src="/img/banner5.webp" alt="" />
                <div class="flex-caption container">
                    
                </div>
              </li>
			   <li>
                <img src="/img/banner7.webp" alt="" />
                <div class="flex-caption container">
                    
                </div>
              </li>
			   <li>
                <img src="/img/banner3.webp" alt="" />
                <div class="flex-caption container">
                    
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
 
	</section>
	<section class="txt-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="aligncenter"><h1 class="aligncenter">Our Courses</h1></div>
				
			</div>
		</div>
	</div>
	</section>
	
	
	<section id="content">
	
	
	<div class="container">
		<div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="0ms" style="visibility: visible; webkit-animation-duration: 300ms; webkit-animation-delay: 0ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src='/img/icon1.png'>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">BCA</h4>
                                <p>Bachelor of Computer Application Provides you the best Programming language knowledge.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="100ms" style="visibility: visible; webkit-animation-duration: 300ms; webkit-animation-delay: 100ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                                 <img src='/img/icon2.png' style="width:100px; height:100px;">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">BSC CSE</h4>
                                <p>Bachelor of Computer Science Provides you the Programming Language and Science</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="200ms" style="visibility: visible; webkit-animation-duration: 300ms; webkit-animation-delay: 200ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                               <img src='/img/icon3.png' style="width:100px; height:100px;">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Microbiology</h4>
                                <p>Bachelor of Microbiology Provide you the best Knowledge about micro organism.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="300ms" style="visibility: visible; webkit-animation-duration: 300ms; webkit-animation-delay: 300ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src='/img/icon4.png' style="width:100px; height:100px;">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Chemistry</h4>
                                <p>Bachelor of Chemistry Provides you the best knowledge about chemical composition.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="400ms" style="visibility: visible; webkit-animation-duration: 300ms; webkit-animation-delay: 400ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src='/img/icon5.png' style="width:100px; height:100px;">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">BBA</h4>
                                <p>Bachelor Of Business Administration Provides you the best marketing skill, HR and Finance knowledge.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="500ms" style="visibility: visible; -webkit-animation-duration: 300ms; -webkit-animation-delay: 500ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src='/img/icon6.png' style="width:100px; height:100px;">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">BCOM</h4>
                                <p>Bachelor of Commerce Provides you the Accounts and Statistical knowledge</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div>	 
	 

	</div>
	</section>
	
		<section class="aboutUs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Welcome To DUIAS & DSIMC</h2></div>
				<br/>
			</div>
		</div> 
		<div class="row">
							<div class="col-md-6">
								<img src="/img/home1.png" style="width:450px; height:300px;"alt="">
								<div class="space"></div>
							</div>
							<div class="col-md-6">
								<font size="+1">
								<p align='justify'>Dolat-Usha Institute of Applied Sciences And Dhiru-Sarla Institute of Management & Commerce, is an esteemed academic institution established in the green jewel of South Gujarat, the city of Valsad. Before the onset of the millennium year, when the academic scenario was changing at a galloping pace, an urge was felt to introduce graduation courses in the field of Science which could match the needs of modern education.
                                </p>
								<br/>
								<p align='justify'>In 1999, by initiating three undergraduate courses [B.Sc.-Microbiology, B.Sc.-Computer Science, B.C.A] and in 2001 one Post-Graduate course P.G.D.M.L.T., the seeds to set up an educational institution with academic excellence were sown and thus began the journey through highest standards of quality learning and resourceful infrastructure.</p>
								</font>
								
							</div>
						</div>
	
	</div>
	</section>
	
	<section id="clients">
        <div class="container">
            	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Campus Placement</h2>Campus placement or campus interview is the program conducted within educational institutes or in a common place to provide jobs to students pursuing or in the stage of completing the programme. </div>
				<br/>
			</div>
		</div>
            <div class="row">
                <div class="col-md-2 col-sm-4 client">
                    <div class="img ">
					<img src="/img/rivetlogo.png">
					</div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img">
					<img src="/img/bos1.png">
					</div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img ">
					<img src="/img/uffio1.png">
					</div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img ">
					<img src="/img/wel1.png" style="width:138px; height:51px;">
					</div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img ">
					<img src="/img/hub1.png">
					</div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img">
					<img src="/img/yes1.png">
					</div>
                </div>
            </div>
        </div>
    </section> 