<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">LOGIN</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	
	<div class="container">
	<div class="row">
								<div class="col-md-6">
									
									<div class="contact-form">
											
		<form method="post"  id="contactform" class="contact" action="/login_user">
											
											<div class="form-group has-feedback">
												<label for="email">Email*</label>
												<input type="text" class="form-control" name="txtemail" placeholder="">
												
											</div>
											<div class="form-group has-feedback">
												<label for="email">Password*</label>
												<input type="password" class="form-control" name="txtpwd" placeholder="">
												
											</div>
											<div class="form-group has-feedback">
												<label for="email">Select Login Type*</label>
												<select class="form-control" name="selltype" >
                                                   
                                                    <option value="1">Principal</option>
                                                    <option value="2">Clerk</option>
                                                    <option value="3">Hod</option>
                                                    <option value="4">Faculty</option>
                                                </select>
												
											</div>
											
											<input type="submit" value="LOGIN" name="btnlogin" class="submit btn btn-default">
										</form>
										 
										
									</div>
								</div>
								<div class="col-md-6">
									<img src="img/login1.jpg" style="width:350px; height:350px;">
								</div>
							</div>
	</div>
 
	</section>
